@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

p {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
}

main {
    background-color: #08a0be;
    height: 100vh;
}

.container {
    width: 90%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.h4 {
    color: #08a0be;
    font-weight: 700;
}

.form { 
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 2.5rem;
}

.btn {
    width: 100%;
    background-color: #08a0be;
    color: white;
    margin-bottom: 2rem;
    transition: 1s ease-in-out;
}

.btn:hover {
    background-color: #077389;
    color: white;
}

.container.weather {
    height: auto;
}

.back {
    margin-right: 1rem;
    transition: 0.3s ease-in-out;
}

.back:hover {
    color: #119fbc;
}

.image-container {
    margin: auto;
    width: 150px;
}

.image-container .weather-icon {
    width: 100%;
}

.temperature, .description {
    text-align: center;
    margin-bottom: 1rem;
}

.location {
    text-align: center;
    margin-bottom: 1rem;
}

.aditional-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 2px solid #ccc;
    font-size: 10px;
    height: 50px;
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.feels-like {
    border-right: 2px solid #ccc;
   
}

.feels-like img {
    height: 30px;
}

.humidity-icon {
    width: 30px;
}

@media screen and (min-width: 768px) {
    .container {
        width: 50%;
        max-width: 500px;
    }
}

